In [20]:
import pandas as pd
import requests
import json

In [21]:
city_coords = {
    "london": [-0.118092, 51.509865],
    "berlin": [13.404954, 52.520008],
    "amsterdam": [4.899431, 52.379189],
    "paris": [2.349014, 48.864716],
    "rome": [12.496366, 41.902782],
    "barcelona": [2.154007, 41.390205],
    "budapest": [19.040236, 47.497913],
    "athens": [23.727539, 37.983810],
    "lisbon": [-9.142685, 38.736946],
    "vienna": [16.363449, 48.210033],
}

In [22]:
# example:
# https://archive-api.open-meteo.com/v1/archive?latitude=48.85&longitude=2.35&start_date=2022-01-01&end_date=2022-12-31&daily=precipitation_hours&timezone=Europe%2FBerlin


base_url = "https://archive-api.open-meteo.com/v1/archive"

params = {
    "latitude": 48.85,
    "longitude": 2.35,
    "start_date": "2022-01-01",
    "end_date": "2022-12-31",
    "daily":"precipitation_hours",
    "timezone":"Europe/Berlin"
}

response = requests.get(base_url, params=params)
raw_data = response.json()

In [23]:
base_url = "https://archive-api.open-meteo.com/v1/archive"

cities = []
days = []
rain_hours = []

for city in city_coords:
    params = {
        "latitude": city_coords[city][1],
        "longitude": city_coords[city][0],
        "start_date": "2022-01-01",
        "end_date": "2022-12-31",
        "daily": "precipitation_hours",
        "timezone": "Europe/Berlin",
    }

    response = requests.get(base_url, params=params)
    raw_data = response.json()

    cities.append(city)
    days.append(raw_data['daily']['time'])
    rain_hours.append(raw_data['daily']['precipitation_hours'])

df_all = pd.DataFrame({
    'city': cities,
    'days': days,
    'rain_hours': rain_hours,
})

In [24]:
df_all

,city,days,rain_hours
0,london,"[2022-01-01, 2022-01-02, 2022-01-03, 2022-01-0...","[1.0, 9.0, 1.0, 9.0, 0.0, 7.0, 1.0, 16.0, 0.0,..."
1,berlin,"[2022-01-01, 2022-01-02, 2022-01-03, 2022-01-0...","[6.0, 10.0, 13.0, 12.0, 8.0, 4.0, 4.0, 0.0, 6...."
2,amsterdam,"[2022-01-01, 2022-01-02, 2022-01-03, 2022-01-0...","[2.0, 17.0, 4.0, 9.0, 13.0, 3.0, 17.0, 16.0, 1..."
3,paris,"[2022-01-01, 2022-01-02, 2022-01-03, 2022-01-0...","[0.0, 2.0, 15.0, 21.0, 1.0, 0.0, 19.0, 15.0, 1..."
4,rome,"[2022-01-01, 2022-01-02, 2022-01-03, 2022-01-0...","[0.0, 0.0, 0.0, 2.0, 8.0, 13.0, 0.0, 0.0, 12.0..."
5,barcelona,"[2022-01-01, 2022-01-02, 2022-01-03, 2022-01-0...","[0.0, 0.0, 0.0, 0.0, 18.0, 0.0, 0.0, 0.0, 2.0,..."
6,budapest,"[2022-01-01, 2022-01-02, 2022-01-03, 2022-01-0...","[1.0, 0.0, 3.0, 0.0, 10.0, 3.0, 0.0, 0.0, 0.0,..."
7,athens,"[2022-01-01, 2022-01-02, 2022-01-03, 2022-01-0...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 8.0, 15.0,..."
8,lisbon,"[2022-01-01, 2022-01-02, 2022-01-03, 2022-01-0...","[0.0, 0.0, 0.0, 9.0, 6.0, 0.0, 0.0, 0.0, 0.0, ..."
9,vienna,"[2022-01-01, 2022-01-02, 2022-01-03, 2022-01-0...","[0.0, 0.0, 0.0, 4.0, 12.0, 3.0, 0.0, 0.0, 3.0,..."

Timestamp('2022-01-01 00:00:00')

In [26]:
df_all.to_csv("data_output/cities_rain_data_2022.csv", index=False)